.config/dwb/default/cookies
.config/dwb/default/history
.config/dwb/default/bookmarks
.config/jumanji/history
.config/jumanji/cookies
.config/jumanji/bookmarks
.scrobbyconf
.herrie/config
.netrc
.mpdscribble/mpdscribble.conf
bin/__pycache__
mpd/.config/mpd
!mpd/.config/mpd/mpd.conf
!mpd/.config/mpd/playlists
xmonad/.xmonad
!xmonad/.xmonad/xmonad.hs
!xmonad/.xmonad/xmobarrc

.bash_history
.lesshst
.zcache
.zcompdump*
*.log
