! ----------------------------------------------------------------------------
! file:     ~/.Xresources
! author:   Joshua Stiefer
! modified: September 2015
! vim: set fenc=utf-8:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
! ----------------------------------------------------------------------------

! xft
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

! cursor theme
Xcursor.theme:	Vanilla-DMZ

! ---------------------------------------------------------------------
!                                colors
! ---------------------------------------------------------------------

#include "xresources/despacio.xresources"

! --------------------------------------------------------------------
!                                urxvt
! --------------------------------------------------------------------

#include "xresources/urxvt.xresources"

! ---------------------------------------------------------------------
!                                xterm
! ---------------------------------------------------------------------

#include "xresources/xterm.xresources"

! ---------------------------------------------------------------------
!                                xscreensaver
! ---------------------------------------------------------------------

#include "xresources/xscreensaver.xresources"

! ---------------------------------------------------------------------
!                                rofi
! ---------------------------------------------------------------------

#include "xresources/rofi.xresources"

