! ----------------------------------------------------------------------------
! file:     ~/.Xresources
! author:   Joshua Stiefer
! modified: September 2015
! vim: set fenc=utf-8:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
! ----------------------------------------------------------------------------

! xft
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

! cursor theme
Xcursor.theme:	Vanilla-DMZ

! --------------------------------------------------------------------
!                                urxvt
! --------------------------------------------------------------------

! general
URxvt.urgentOnBell: true
URxvt.saveLines: 65535
URxvt.internalBorder: 10
URxvt.externalBorder: 0
URxvt.borderless: true

! fonts
URxvt.font: xft:Hack:pixelsize=13:antialias=true:hinting=true,xft:DejaVu Sans Mono:pixelsize=13:antialias=true:hinting=true
URxvt.boldFont: xft:Hack:bold:pixelsize=13:antialias=true:hinting=true,xft:DejaVu Sans Mono:bold:pixelsize=13:antialias=true:hinting=true
URxvt.italicFont: xft:Hack:italic:pixelsize=13:antialias=true:hinting=true,xft:DejaVu Sans Mono:italic:pixelsize=13:antialias=true:hinting=true
URxvt.boldItalicFont: xft:Hack:bold:italic:pixelsize=13:antialias=true:hinting=true,xft:DejaVu Sans Mono:bold:italic:pixelsize=13:antialias=true:hinting=true

! scrollbar
URxvt.scrollBar: false

! extensions
URxvt.perl-ext-common:  clipboard,default,matcher,url-select
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.underlineURLs: 	true
URxvt.matcher.button:   1
URxvt.clipboard.copycmd:  xsel --input --clipboard
URxvt.clipboard.pastecmd: xsel --output --clipboard

! ---------------------------------------------------------------------
!                                xterm
! ---------------------------------------------------------------------

XTerm*borderWidth: 0
XTerm*internalBorder: 10
XTerm*termName: xterm-256color
XTerm*utf8: true
XTerm*faceName: Hack:size=10:antialias=true
XTerm*scaleHeight: 1.0
XTerm*dynamicColors: true
XTerm*locale: true
XTerm*scrollTtyOutput: true
XTerm*scrollBar: false
XTerm*rightScrollBar: false
XTerm*jumpScroll: false
XTerm*multiScroll: true
XTerm*toolBar: false
XTerm*saveLines: 5000
XTerm*autoWrap: false

! ---------------------------------------------------------------------
!                               colors
! ---------------------------------------------------------------------

! hard contrast: *background: #1d2021
#define bg #282828
! soft contrast: *background: #32302f
#define fg #ebdbb2
! Black + DarkGrey
#define blk #282828
#define bblk #928374
! DarkRed + Red
#define dred #cc241d
#define red #fb4934
! DarkGreen + Green
#define dgrn #98971a
#define grn #b8bb26
! DarkYellow + Yellow
#define dylw #d79921
#define ylw #fabd2f
! DarkBlue + Blue
#define dblu #458588
#define blu #83a598
! DarkMagenta + Magenta
#define dmag #b16286
#define mag #d3869b
! DarkCyan + Cyan
#define dcyn #689d6a
#define cyn #8ec07c
! LightGrey + White
#define dwht #a89984
#define wht #ebdbb2

! ---------------------------------------------------------------------
!                                xscreensaver
! ---------------------------------------------------------------------

!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #757575
xscreensaver.Dialog.background:         #181818
xscreensaver.Dialog.topShadowColor:     #000000
xscreensaver.Dialog.bottomShadowColor:  #000000
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:24
screensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff3b77
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y

! ---------------------------------------------------------------------
!                                rofi
! ---------------------------------------------------------------------

rofi.font:            Hack 11
rofi.terminal:        urxvt
rofi.lines:           3
rofi.columns:         1
rofi.eh:              2
rofi.location:        0
rofi.width:           25
rofi.padding:         25
rofi.fullscreen:      false
rofi.opacity:         97
rofi.bw:              2
rofi.sidebar-mode:    false
rofi.separator-style: none
rofi.hide-scrollbar:  true
rofi.fuzzy:           true
rofi.color-enabled:   true

rofi.color-normal: bg, fg, bg, bg, ylw
rofi.color-urgent: bg, fg, bg, bg, ylw
rofi.color-active: bg, fg, bg, bg, ylw
rofi.color-window: bg, bblk, bblk

! ---------------------------------------------------------------------
!                               colors
! ---------------------------------------------------------------------

! Colors
*background:  bg
*foreground:  fg
*cursorColor: bblk

*color0:      blk
*color8:      bblk
*color1:      dred
*color9:      red
*color2:      dgrn
*color10:     grn
*color3:      dylw
*color11:     ylw
*color4:      dblu
*color12:     blu
*color5:      dmag
*color13:     mag
*color6:      dcyn
*color14:     cyn
*color7:      dwht
*color15:     wht
